body{
	text-align: center;
	background: url(../images/food.jpg) no-repeat fixed 0% 25% / cover;
	color: #F7C14E;
	position: relative;
}

a{
	color: #F7C14E;
	text-decoration: none;
	border-bottom: 1px dotted dimgray;
}

.navbar a{
	border-bottom: none;
}

h1{
	color: #E3D171;
	font-weight: bolder;
	font-size: 2em;
}

h2{
	color: #E3D171;
}

/*.header{
	position: fixed;
	min-height: 200px;
	top:0px;
}*/

/*.intro{
	padding: 20px;
	margin-bottom: 10px;
	background: rgba(0, 0, 0, 0.6)
}
*/

button{
	position: relative;
	display: inline-block;
}

.day{
	min-height: 100px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	background: rgba(0, 0, 0, 0.6)
}

.container{
	padding-top: 200px;
}
